[Unit]
Description=compton
BindsTo=graphical-session.target

[Service]
EnvironmentFile=/home/brandon/.config/systemd/user/profile.env
TimeoutStartSec=0
ExecStart=/usr/bin/compton -cCF

[Install]
WantedBy=default.target
