[Unit]
Description=Mongodb

[Service]
EnvironmentFile=/home/brandon/.config/systemd/user/profile.env
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/podman \
    run --name=%n \
    -v ${MOUNT_ROOT}/mongodb/:/data/db \
    -p 27017:27017 \
    docker.io/mongo:latest

[Install]
WantedBy=default.target
