[Unit]
Description=Postgres

[Service]
TimeoutStartSec=0
EnvironmentFile=/home/brandon/.config/systemd/user/profile.env
ExecStart=/usr/bin/podman \
    run --name=%n \
    -v ${MOUNT_ROOT}/postgres/data:/var/lib/postgresql/data/ \
    -p 5432:5432 \
    postgres

[Install]
WantedBy=default.target
